<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center shadow">
            <h2 class="m-0">Please enter your information</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Quote", "Home", FormMethod.Post))
            {
            <div class="row no-gutters mb-3">
                <div class="form-group col-md-12">
                    <input name="FirstName" type="text" class="form-control" placeholder="First Name" required="required" />
                </div>
                <div class="form-group col-md-12">
                    <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />
                </div>
                <div class="form-group col-md-12">
                    <input name="DateOfBirth" type="date" class="form-control" placeholder="Date Of Birth" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarYear" type="text" class="form-control" placeholder="Car Year" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                </div>
                <div>
                    <h4>Have you ever had a DUI?</h4>
                    <select id="DUI" name="DUI" class="mb-3">
                        <option value=false>No</option>
                        <option value=true>Yes</option>
                    </select>
                    <br />
                </div>
                <br />
                <div class="form-group col-md-12">
                    <input name="Tickets" type="text" class="form-control" placeholder="Total Speeding Tickets In Your Life" />
                </div>
                <div>
                    <h4>What insurance type would you prefer?</h4>
                    <select id="Full" name="Full" class="mb-3">
                        <option value=true>Full Coverage</option>
                        <option value=false>Liability</option>
                    </select>
                    <br />
                </div>
                <br />
                <button type="submit" class="btn btn-danger m-3">Get Quote</button>
                <h3>Final Quote: </h3>
                @ViewBag.finalQuote
            </div>
            }
        </div>
    </div>
</div>

