@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NFL Teams</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to NFL Teams</h2>
        <p>
            NFL Teams is my first attempt making a sample application
            with EntityFramework Code First. </p>
    </div>
</div>